@font-face {
    font-family: 'Baby Wildy';
    src: url('../fonts/BabyWildyRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BabyWildyRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BabyWildyRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/BabyWildyRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/BabyWildyRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BabyWildyRegular.svg#BabyWildyRegular') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6dd2ff;
    font-weight: bold;
    color: white;
}

div:hover {
    cursor: default;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    position: absolute;
    top: 20px;
    display: inline-block;
}

h1, h2 {
    font-family: 'Baby Wildy', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

.confetti_img {
    height: 50px;
    width: 50px;
}

.birthday_edition_banner {
    padding-top: 1%;
}

/* 605 px wide */
.birthday {
    width: 25%;
    height: 25%;
}

/* 531 px wide, 87.8% the width */
.edition {
    width: 22%;
    height: 22%;
}

.balloon_counter {
    display: flex;
    align-items: center;
}

.counter_timer {
    position: absolute;
    display: flex;
    top: 250px;
}

.minesweeper_grid {
    position: absolute;
    display: flex;
    top: 225px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); */
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col {
    flex: 1;
    /* supports any number of columns and ensure they
    are equal in width and flexible */
}

.cell {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin: 4px 2px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

/* hidden cells */
.hidden_cell {
    background-color: rgb(255, 141, 206);
    border: 1px solid rgb(255, 141, 206);
    border-radius: 10%;
    color: rgba(255, 255, 255, 0)
}

/* hidden cells with balloons */
.hidden_cell > img.balloon {
    opacity: 0;
}

/* visible cells */
.visible_cell {
    background-color: rgb(255, 198, 231);
    border: 1px solid rgba(255,255,255,0);
    border-radius: 10%;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.balloon {
    height: 25px;
    width: 25px;
}

.above_grid {
    width: 640px;
    top: 150px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}

.refresh_button {
    height: 40px;
    width: 40px;
    margin: auto;
}

.cupcake_img {
    height: 25px;
    width: 25px;
}

.modal {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 227px;
    width: 656px;
    height: 656px; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    border-radius: 1%;
}
  
#modal_content {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    background-color: #f3d1dc;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 25%;
    width: 50%;
}