@font-face {
    font-family: 'Baby Wildy';
    src: url('../fonts/BabyWildyRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BabyWildyRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BabyWildyRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/BabyWildyRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/BabyWildyRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BabyWildyRegular.svg#BabyWildyRegular') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6dd2ff;
    font-weight: bold;
    color: white;
}

div:hover {
    cursor: default;
}

.top_border {
    background: url(../images/garlandfinal.png) round;
    background-size: 120px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    position: absolute;
    top: 150%;
}

h1 {
    font-family: 'Baby Wildy', Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.confetti_img {
    height: 50px;
    width: 50px;
}

.birthday_edition_banner {
    width: 100%;
    max-width: 35%;
    height: auto;
    padding-top: 1%;
}

.balloon_counter {
    display: flex;
    align-items: center;
}

.counter_timer {
    position: absolute;
    display: flex;
    top: 250px;
}

.minesweeper_grid {
    position: absolute;
    display: flex;
    top: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.col {
    flex: 1;
    /* supports any number of columns and ensure they
    are equal in width and flexible */
}

.cell {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* hidden cells */
.evencol > .oddcell, .oddcol > .evencell {
    background-color: #f6a7c1;
    border: 1px solid #f6a7c1;
    color: rgba(255, 255, 255, 0)
}

.oddcol > .oddcell, .evencol > .evencell {
    background-color: #f3d1dc;
    border: 1px solid #f3d1dc;
    color: rgba(255, 255, 255, 0)
}

/* hidden cells with balloons */
.oddcell > img.balloon, .evencell > img.balloon {
    opacity: 0;
}

/* visible cells */
.visible_cell {
    background-color: #faf0a5;
    border: 1px solid #f7e4a4;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.balloon {
    height: 25px;
    width: 25px;
}

.above_grid {
    width: 640px;
    top: 235px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}

.refresh_button {
    height: 40px;
    width: 40px;
    margin: auto;
}

.cupcake_img {
    height: 25px;
    width: 25px;
}

.modal {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 300px;
    width: 640px;
    height: 640px; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}
  
#modal_content {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5em;
    background-color: #f3d1dc;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 25%;
    width: 50%;
}